body {
  background: #f8f4f2;
  font-family: Arial;
}

.a-box {
  margin: 10px;
  display: inline-block;
  width: 240px;
  text-align: center;
  margin-left: 70px;
}

.img-container {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 0px 0px 20px 20px;
  display: inline-block;
}

.img-container img {
  height: 250px;
  margin: -35px 0px 0px -25px;
}

.inner-skew {
  display: inline-block;
  border-radius: 20px;
  overflow: hidden;
  padding: 0px;
  font-size: 0px;
  margin: 30px 0px 0px 0px;
  background: #c8c2c2;
  height: 250px;
  width: 200px;
}

.text-container {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 120px 20px 20px 20px;
  border-radius: 20px;
  background: #fff;
  margin: -120px 0px 0px 0px;
  line-height: 19px;
  font-size: 14px;
}

.text-container h3 {
  margin: 20px 0px 10px 0px;
  color: #04bcff;
  font-size: 18px;
  word-wrap: break-word;
  white-space: pre-wrap;
  word-break: break-word;
}

.text-container li {
  display: flex;
  justify-content: space-between;
  margin-left: -20px;
  line-height: 30px;
}

.text-container button {
  width: 80px;
  border-radius: 5px;
  background-color: #b9c1cf;
  color: #000;
  border: #fff;
  height: 30px;
}
.text-container button:hover {
  background-color: #365997;
  color: #fff;
}
